<form id="sweetNothingsConfigForm" onsubmit="preventDefault()">
    <h1>{{localize "SWEETNOTHINGS.CONFIGURATION.DEFAULTS.Name"}}</h1>
    <p>{{localize "SWEETNOTHINGS.CONFIGURATION.DEFAULTS.Hint"}}</p>
    <hr />
    {{#each sweetSettings}}
    <div>
        <b>{{sweetNothingsLocalizer @key}}</b>
        <select name="{{@key}}">
            {{#each choices}}
            <option value="{{@key}}" {{sweetNothingsSelected @key ../value}}>{{localize @this}}</option>
            {{/each}}
        </select>
    </div>
    <hr />
    {{/each}}
    <h1>{{localize "SWEETNOTHINGS.CONFIGURATION.NOTIFICATIONS.Name"}}</h1>
    <p>{{localize "SWEETNOTHINGS.CONFIGURATION.NOTIFICATIONS.Hint"}}</p>
    <div>
        <b>{{localize "SWEETNOTHINGS.CONFIGURATION.WHISPER_TOAST_NOTIFICATION"}}</b>
        <input type="checkbox" name="WhisperToastNotification" {{#if enableNotification}}checked{{/if}} />
    </div>
    <div>
        <b>{{localize "SWEETNOTHINGS.CONFIGURATION.ENABLE_SOUND"}}</b>
        <input type="checkbox" name="WhisperEnableSound" {{#if enableSound}}checked{{/if}} />
    </div>
    <hr />
    <div>
        <b>{{localize "SWEETNOTHINGS.CONFIGURATION.NOTIFICATION_SOUND"}}</b>
        <span class="sweetNothingsFilePicker">
            <input type="text" name="WhisperNotificationSound" value="{{notificationSound}}" />
            {{filePicker target="WhisperNotificationSound" type="audio"}}
        </span>
        <button class="sweetNothingsPlayButton" type="button" data-action="playSound" title="{{localize "SWEETNOTHINGS.TOOLTIPS.SAMPLE_SOUND"}}"><i class="fas fa-play"></i></button>
    </div>
    <div>
        <b>{{localize "SWEETNOTHINGS.CONFIGURATION.NOTIFICATION_VOLUME"}}</b>
        {{rangePicker name="WhisperNotificationVolume" value=notificationVolume min=0.05 max=1.0 step=0.05}}
    </div>
</form>